# ignore executable
mercurius
mercurius-d
mercurius.exe
mercurius.exe-d
mercurius-d.exe
resource_converter
resource_converter-d
resource_converter.exe
resource_converter.exe-d
resource_converter-d.exe
# ignore objects directories
objs/
objs-d/
objs_rc/
objs_rc-d/
# ignore all tmp backup files
*~
.*.swp
.*.swo
